.player {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  border: 2px solid rgba(0,0,0,0.2);
  padding: 4px;
}

.player a, .player a:visited {
  background-color: unset;
  border: none;
  color: #33F;
  font-weight: bold;
  text-decoration: none;
}

.controls {
  display: flex;
  align-content: center;
  justify-content: center;
}

.controls button {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 2px;
  border: none;
  background: none;
}
