.page {
  border: 2px solid rgba(0,0,0,0.2);
  padding: 4px;
  background-color: white;
}

.title {
  padding: 5px;
  font-weight: 700;
  text-align: center;
}

.title > * {
  vertical-align: middle;
}

.title a, .title a:visited {
  background-color: unset;
  border: none;
  color: #33F;
  font-weight: bold;
  text-decoration: none;
}

.title > a > img {
  max-width: 100%;
  max-height: 300px;
  margin-top: 6px;
}

.text {
  padding: 0 4px;
  font-size: 0.8em;
}

.buttonBar {
  display: flex;
  justify-content: flex-end;
}

.buttonBar button {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 2px;
}
