.container {
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  z-index: 900;
}


.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 32px;
  border-radius: 4px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: #ddd;
  z-index: 500;
  opacity: 0.5;
}
