.main {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgba(0,0,0,0.2);
    padding: 4px;
    position: absolute;
    left: 60px;
    top: 10px;
    background-color: white;
    z-index: 1000;
}

.main > span.infoField {
    margin: 8px;
}

.main > span.infoField > label {
    display: block;
    font-weight: 700;
}

.main > span.infoField > span {
    vertical-align: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 8px;
}
