.main {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(0,0,0,0.2);
  padding: 4px;
  position: absolute;
  left: 10px;
  top: 90px;
  z-index: 1000;
  background-color: white;
  height: 32px;
}

.main button {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 2px;
  border: 1px solid #bfbfbf;
  background: #fff;
  border-radius: 4px;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
}

.main button.active {
  filter: invert();
}

.gap {
  margin-left: 4px;
}
