.main {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(0,0,0,0.2);
  padding: 4px;
  position: absolute;
  left: 10px;
  top: 90px;
  z-index: 1000;
  border: 2px solid rgba(0,0,0,0.2);
  background-color: white;
  height: 32px;
}

.main .btn {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 2px;
}

.gap {
  margin-left: 4px;
}
